@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.block-scroll {
    overflow: hidden;
}

section {
    margin: 70px 0;
}

.section_description {
    font-size: 23px;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

.msg {
    visibility: visible;
    position: fixed;
    left: 25px;
    bottom: 35px;
    background-color: #e7e3d4;
    color: #000000;
    padding: 15px 20px;
    box-shadow: 0px 0px 5px 0px #0000008c;
    border-radius: 15px;
    font-size: 17px;
    transition: all .5s ease;
    opacity: 100;
}

.hide {
    visibility: hidden;
    opacity: 0;
    bottom: 0px;
    transition: all .5s;
}

.header-container {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    height: 720px;
    align-items: center;
}

header {
    background: url(../img/background/main.jpg);
    background-size: cover;
}

.head {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    letter-spacing: 10px;
}

#number {
    text-align: end;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}

.booking-btn { 
    border-radius: 30px;
    border: white 4px solid;
    padding: 20px 40px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    background-color: white;
    color: black;
}

.booking-btn:hover { 
    background-color: rgb(231, 225, 225);
    border: rgb(231, 225, 225) 4px solid;
}

.booking a {
    text-decoration: none;
}

.date {
    font-size: 14px;
    margin: 5px;
    text-align: center;
}

/* Менюшка */

.menu-container {
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    width: 300px;
    height: 100%;
    transition: all 0.3s ease;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hide-menu {left: -100%;}
.menu-btn {
    color: white;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}
.menu-head {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.close {
    position: absolute;
    right: 15px;
    font-size: 22px;
}
.menu-main {
    font-size: 22px;
    text-align: center;
}
.menu-main div {
    margin: 10px 0;
}
.menu-main a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
.menu-main a:hover {
    color: rgb(182, 176, 176);
}
.social-network {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-network a{
    margin: 10px;
}
.menu-footer .addres{
    text-align: justify;
    margin-top: 10px;
    font-size: 13px;
}
.addres span{
    color: rgb(182, 176, 176);
    font-size: 12px;
}
.menu-footer {
    margin-bottom: 20px;
}

/* Афиша */

.event-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
} 

.event-card:nth-child(3n) {
    flex-direction: row-reverse;
}

.event-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.event-info {
    padding: 20px;
    flex: 1;
}

.event-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.event-description {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    color: #666;
}

/* Столики для бронирования */

.error-auth {
    text-align: center;
    font-size: 22px;
}

#booking h1 {
    font-size: 23px;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

.booking_block {
    display: flex;
    align-items: center;
}

.table-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.table-block {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 7px 0px #000000a8;
    flex-grow: 1;
}

.table-info {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.table-id {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    display: flex;
    align-items: baseline;
}

.table-id h4, span{
    letter-spacing: 5px;
}

.table-id h4 {
    font-size: 26px;
    color: white;
    font-weight: 400;
}

.table-id span {
    font-size: 20px;
    font-weight: 400;
    color: rgb(207, 207, 207);
}

.table-person {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.table-person span{
    margin-left: 7px;
    font-size: 23px;
    color: white;
}

.table-img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.table-img span {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.377);
}

.table-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-inputs {
    width: 80%;
    margin: 0 auto;
}

.form-inputs input {
    border: none;
    border-bottom: 2px black solid;
    width: 100%;
    font-size: 21px;
    outline: none;
    margin: 22px 0;
    padding: 0 7px;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-inputs button {
    border: none;
    font-size: 20px;
    outline: none;
    margin: 7px 0;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 7px;
    width: 100%;
    transition: .2s linear;
}

.form-inputs button:hover {
    
}

/* Яндекс карта */

.map iframe {
    box-shadow: 0px 0px 11px 0px #000;
    border-radius: 15px;
}

/* Footer */

footer {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_footer {
    font-size: 16px;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-menu a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin: 20px;
    transition: color 0.2s ease;
}

.footer-menu a:hover{
    color: rgb(192, 187, 187);
}

.footer-addres {
    display: flex;
    align-items: center;
}

.footer-addres p{
    margin: 0 50px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.disable {
    display: none;
}

