@media screen and (max-width: 1400px) {
    .settings {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1190px) {
    body{
        margin: auto;
    }
    
    header {
        flex-wrap: wrap;
    }

    header a {
        font-size: 15px;
        margin: 7px 10px;
    }
    
    .settings {
        display: flex;
        grid-gap: 25px 60px;
        grid-template-columns: none;
        width: auto;
        margin: 45px auto;
        font-size: 21px;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: none;
    }

}
